<nav>
    <div class="site-title">
        <a href="/"><h1>MakOClock</h1></a>
        <p>A site you always want</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href= "/blogs">Blogs</a></li>
        <li><a href="/blogs/createblogs">Create a blog</a></li>
    </ul>
</nav>