<html lang="en">
<%- include("./partial/head.ejs") %>

<body>
  <%- include("./partial/nav.ejs") %>

  <div class="not-found content">
    <p>404 Error! Page not Found!!</p>
  </div>

  <%- include("./partial/footer.ejs") %>
</body>
</html>