<!DOCTYPE html>
<html lang="en">
<%- include("./partial/head.ejs")%>
<body>
    <%- include("./partial/nav.ejs") %>

    <h1>Welcome To my Website</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget dolor vitae elit ultrices interdum. Suspendisse nunc massa, imperdiet a convallis eu, maximus nec massa. Sed pellentesque condimentum elit sed pretium. Duis dapibus vitae ligula nec luctus. Mauris egestas ullamcorper nibh, vitae sodales felis ullamcorper a. Ut ut ligula tellus. Phasellus viverra risus eu fermentum suscipit. Donec nec semper est. Etiam eu nulla tortor. Donec efficitur, libero ac consectetur tristique, est justo porta augue, non tempor orci est eu est. Nulla ac vehicula sem.
        Vestibulum venenatis massa ex, ac lobortis velit feugiat eget. Nam cursus ante lectus, at dignissim enim viverra id. Praesent id iaculis dui. Suspendisse blandit imperdiet molestie. Sed eu euismod mauris. Sed ac ultricies nulla. In hac habitasse platea dictumst. Proin bibendum eros felis, sit amet iaculis lectus pretium sit amet. Aenean sollicitudin vestibulum ex et tempor. Nam vel lacus dui. Aenean et mauris non neque malesuada pharetra. Vestibulum ipsum nibh, rutrum eu accumsan sit amet, molestie eget lorem. Donec non nibh magna.
    </p>
    <%- include("./partial/footer.ejs") %>
</body>
</html>